<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xdroid.demo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.xdroid.demo.ApplicationHelper"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name="com.xdroid.demo.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.xdroid.demo.activity.SimpleActivity" />
        <activity android:name="com.xdroid.demo.activity.ListViewActivity" />
        <activity android:name="com.xdroid.demo.activity.XUtils3Activity" />
        <activity
            android:name="com.xdroid.demo.activity.ForgetPwdActivity"
            android:theme="@style/PopTheme">
            <intent-filter>
                <data
                    android:host="host"
                    android:path="/main"
                    android:port="8888"
                    android:scheme="ForgetPwdActivity" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name="com.xdroid.demo.activity.DBActivity" />
        <activity android:name="com.xdroid.demo.activity.SQLActivity" />
        <activity android:name="com.xdroid.demo.activity.EventBusActivity" />
        <activity android:name="com.xdroid.demo.activity.GlideActivity" />
        <activity android:name="com.xdroid.demo.activity.FullscreenActivity" />
        <activity android:name="com.xdroid.demo.activity.CoordinatorLayoutActivity" />
        <activity
            android:name="com.xdroid.demo.activity.PopActivity"
            android:theme="@style/PopTheme" />

        <meta-data
            android:name="com.xdroid.demo.glide.GiphyGlideModule"
            android:value="GlideModule" />

        <activity android:name="com.xdroid.demo.activity.JavaActivity" />

        <service
            android:name="com.xdroid.demo.service.InitializeService"
            android:exported="false"/>
    </application>

</manifest>